<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConnection" providerName="SqlServer" connectionString="Data Source=LAXMISAHASRA-LP;Initial Catalog=College;User Id=sa;Password=cybage@123;Persist Security Info=True;Max Pool Size=100" />		
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>